In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.utils import shuffle
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.metrics import balanced_accuracy_score
from sklearn.preprocessing import StandardScaler

In [26]:
# load data
df = pd.read_csv('data/crx.data',sep=',', header=None)

df.columns = ['A' + str((i + 1)) for i in range(df.shape[1])]

# remove missing values
for i in df.columns:
    df = df.drop(index=df[df[i].astype(str) =='?'].index, axis=0)

# df['A16'].unique()
    
# shuffle
df = shuffle(df)

In [27]:
X = df.iloc[:, :-1]
y = df.iloc[:, -1]

In [28]:
indices = ['A1', 'A4', 'A5', 'A6', 'A7', 'A9', 'A10', 'A12', 'A13']

for name in indices:
    one_hot = pd.get_dummies(X[name])
    names = []
    for col in one_hot.columns:
        names.append(name + '_' + col)
    # Drop column as it is now encoded
    X = X.drop(name,axis = 1)
    # Join the encoded df
    one_hot.columns = names
    X = X.join(one_hot)
X

,A2,A3,A8,A11,A14,A15,A1_a,A1_b,A4_l,A4_u,...,A7_z,A9_f,A9_t,A10_f,A10_t,A12_f,A12_t,A13_g,A13_p,A13_s
235,20.67,1.835,2.085,5,00220,2503,1,0,0,1,...,0,0,1,0,1,1,0,1,0,0
59,43.25,3.000,6.000,11,00080,0,0,1,0,1,...,0,0,1,0,1,1,0,1,0,0
318,19.17,0.000,0.000,0,00500,1,0,1,0,0,...,0,1,0,1,0,0,1,0,0,1
8,54.42,0.500,3.960,0,00180,314,0,1,0,0,...,0,0,1,1,0,1,0,1,0,0
186,40.00,6.500,3.500,1,00000,500,0,1,0,1,...,0,0,1,0,1,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168,36.67,3.250,9.000,0,00102,639,0,1,0,1,...,0,0,1,1,0,0,1,1,0,0
524,28.58,1.665,2.415,0,00440,0,1,0,0,1,...,0,0,1,1,0,0,1,1,0,0
442,30.58,2.710,0.125,0,00080,0,0,1,0,0,...,0,1,0,1,0,0,1,0,0,1
31,42.00,9.790,7.960,8,00000,0,0,1,0,1,...,0,0,1,0,1,1,0,1,0,0
221,65.42,11.000,20.000,7,00022,0,0,1,0,1,...,1,0,1,0,1,0,1,1,0,0

In [30]:
# encoding y
y = y.astype(str)
y.loc[y == '+'] = 1
y.loc[y == '-'] = 0
y = y.astype('int')

In [31]:
y

235    1
59     1
318    1
8      1
186    1
      ..
168    1
524    0
442    0
31     1
221    1
Name: A16, Length: 653, dtype: int64

In [32]:
# train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [33]:
clf1 = LogisticRegression(penalty='none')
clf1.fit(X_train,y_train)

/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression(penalty='none')

In [96]:
y_pred = clf1.predict(X_test)

0.875

In [100]:
# evaluate
print('accuracy: ' + str(accuracy_score(y_test, y_pred)))
print('balanced accuracy: ' + str(balanced_accuracy_score(y_test, y_pred)))

accuracy: 0.875
balanced accuracy: 0.8745082612116444